.book-details {
    text-align: center;
    padding: 20px;
}

.book-details img {
    max-width: 200px;
    margin: 20px 0;
}

.book-details h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.book-details h2 {
    font-size: 1.5em;
    color: gray;
    margin-bottom: 20px;
}

.book-details p {
    font-size: 1.2em;
    line-height: 1.5;
}